<ul class="list-group">
    {% for list in user_lists %}
        <li class="list-group-item d-flex">
            <a href="#">{{list.name}}</a>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-list-modal-{{list.id}}">Borrar</button>
        </li>
        {% include 'users/modals/_list_delete_conf.html' %}
    {% endfor %}
</ul>
<button 
    hx-get = "{% url 'create_list' %}"
    hx-swap = "innerHTML"
    hx-target = "#create-form-container"
    class="btn btn-success mt-2"
        >List
    </button>
    <div id="create-form-container">
        
    </div>