{% if error_message %}
    <p>{{error_message}}</p>
{% endif %}

{% for movie in movies %}
        <div class="col-md mb-4">
            <a href="{% url 'movie_detail' movie.id %}" class="text-decoration-none">
                <div class="card" style="width: 18rem;">
                    <img src="{% if movie.poster_path %}https://image.tmdb.org/t/p/original/{{movie.poster_path}}{% else %} https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg{% endif %}" class="card-img-top" alt="{{movie.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{movie.title}}</h5>
                        <p class="card-text">{{movie.overview|truncatechars:15}}</p>
                        <p class="card-vote">{{movie.vote_average|floatformat:1}}/10</p>
                    </div>
                </div>
            </a>
        </div>
{% endfor %}
{% if has_next %}
    <div id="scroll-trigger" 
    hx-get="{% url 'landing_page' %}?category={{category}}&search={{search_query}}&page={{next_page}}"
    hx-trigger="revealed"
    hx-swap="beforeend"
    hx-target="#movie-container"
    ></div>
{% endif %}